body {
    font-family: 'Merriweather', Times, serif;
    font-size: 14px;
}

h1 {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 42px;
    font-weight: 300;
    text-align: center;
    color: #fff;
    text-shadow: 3px 3px 3px #333;
}

h2 {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-shadow: 3px 3px 3px #333;
}

h3 {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #000;
}

h4 {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}

h5 {
    display: inline-block;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    border-bottom: 1px dotted #666;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    line-height: 20px;
    text-align: justify;

}

#header {
    padding: 50px;
    background-color: lightskyblue;
}

#formulaire {
    text-align: center;
    padding: 70px;
    background-color: aliceblue;
}

#nav {
    text-align: center;
    background-color: beige;
    padding: 1px;
}

.onglets {
    list-style-type:none;
    overflow:hidden;
}

.onglets li {
    float:none;
    display:inline;
}

.onglets a {
    background-color:#eee;
    text-decoration:none;
    height:1.5em;
    line-height:1.5em;
    font-weight:700;
    border:2px solid #dedede;
    position:relative;
    float:none;
    display:inline;
    margin:0 0 0 6px;
    padding:0.5em 1em;
}

.onglets a:hover {
    background:#f8f8f8;
}
.onglets li a.active {
    background:#fff;
    border-bottom:2px solid #fff;
    color:#DD4B39;
}

#corp {
    text-align: center;
}

#listePhoto {
  list-style-type: none;
}

.modal{
    width: 84%;
    height: 84%;
    position: fixed;
    background-color: #DCDCDC;
    display: none;
    top: 8%;
    left: 8%;
    z-index: 100;
    }

.modalbg{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
    display: none;
}

.modal_close{
    font-size: 1.2em;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
.modal_close:hover{
    font-weight: bold;
}

#vueTab {
  border
}

.photos_VuePhoto {
  margin: 15px 35%;
  vertical-align: middle;
  width: auto;
  display:inline-block;
  width: 30%;
  cursor:pointer;
}

.photos_VuePhoto img{
  width : 100%;
}

.ui-dialog {
  position: fixed;
}

.element_afficherModale {
  text-align: center;
  height: 100%;
}

.element_afficherModale div {
  width: 100%;
  height: 5%;
}

.element_afficherModale img {
  height : 85%;
}

.icone {
  transform: scale(2);
  font-size: 15px;
  display: inline-block;
  cursor: pointer;
}

.noResult{
  color: black;
  text-shadow: none;
}

.errMessage {
  display: none;
  color: red;
}

#slider{
  display: inline-block;
  width: 20%;
}

#custom-handle {
  width: 3em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
}
